<div id="big-logo" class="logo">
<h2>Indeed Job Search</h2>

<%= render 'form' %>


    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @results.empty? %>
      <%= NO_RESULTS_ERROR_MSG %>
    <% else %>
      <%= cache do %>
<!-- h6 >Search Results:< /h6 -->

        <% @results.each do |r| %>

            <h3 class="job-title"><%= link_to r["jobtitle"], r["url"] %></h3><br />
            <h3 class="company"><%= r["company"] %></h3> - <h3 class="location"><%= r["formattedLocation"] %></h3><br />
            <p class="snippet"><%= sanitize(raw r["snippet"]) %></p><br />
            <p class="latitude"><%= r["latitude"] %></p> , <p class="longitude"><%= r["longitude"] %></p><br />
            <%= r["source"] %> - <%= r["formattedRelativeTime"] %><br />
          <p><%= r["travelTime"][0]["seconds"] %> seconds to commute by car</p>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
